extends layout

block content
    h2 Add a new species

    .row
        .col-6
            form(method="POST", action="/species/create")
                div.form-group
                    label(for="species") Species:
                    input#species.form-control(type="input", name="species", required)
                        
                    label(for="common_name") Common Name:
                    input#common_name.form-control(type="input", name="common_name", required)
                
                    label(for="water_frequency") Watering Frequency:
                    input#water_frequency.form-control(type="number", min=1, name="water_frequency", required)
                        
                    .form-check
                        label(for="toxic") Toxic
                        input#toxic.form-check-input(type="checkbox", name="toxic")
                
                button.btn.btn-primary(type="submit") Submit this species
