extends layout

block content
    if flash.length > 0
        .alert.alert-info
            span #{flash}
    h4 Select a species
    .list-group.mb-2
        each sp in species
            a(href='/species/' + sp.id).list-group-item.list-group-item-action= sp.description
        else
            li.list-group-item No such species found
    a(href="/species/create") Add a species
